<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <%- include('../partials/head.ejs'); %>
    <%- include('../partials/headerStyle.ejs'); %>
  </head>
  <body>
    <%- include('../partials/header.ejs'); %>
  </body>
</html>
